name: Dasarang CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
        
      - name: Gradle Build
        run: |
            chmod +x ./gradlew
            ./gradlew clean build

      - name: Docker Build
        if: contains(github.ref, 'main')
        run: |
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            docker build -f Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_IMAGE }} .
            docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_IMAGE }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: AWS Deploy
        uses: appleboy/ssh-action@v0.1.8
        id: deploy-prod
        if: contains(github.ref, 'main')
        with:
            host: ${{ secrets.HOST_PROD }}
            username: ${{ secrets.USERNAME }}
            key: ${{ secrets.PRIVATE_KEY }}
            port: 22
            timeout: 40s
            envs: GITHUB_SHA
            script: |
                sudo docker ps -q --filter 'name=${{ secrets.CONTAINER_NAME }}' | xargs -r docker stop
                sudo docker ps -aq --filter 'name=${{ secrets.CONTAINER_NAME }}' | xargs -r docker rm
                sudo docker run -d --name ${{ secrets.CONTAINER_NAME }} -p 8088:8088 --net dasarang ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_IMAGE }}
